@import "tailwindcss";
.mask {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0) 0%,
    rgb(0 0 0 / 1) 20%,
    rgb(0 0 0 / 1) 80%,
    rgb(0 0 0 / 0) 100%
  ),
  linear-gradient(
    to right,
    rgb(0 0 0 / 0) 0%,
    rgb(0 0 0 / 1) 10%,
    rgb(0 0 0 / 1) 90%,
    rgb(0 0 0 / 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0) 0%,
    rgb(0 0 0 / 1) 20%,
    rgb(0 0 0 / 1) 80%,
    rgb(0 0 0 / 0) 100%
  ),
  linear-gradient(
    to right,
    rgb(0 0 0 / 0) 0%,
    rgb(0 0 0 / 1) 10%,
    rgb(0 0 0 / 1) 90%,
    rgb(0 0 0 / 0) 100%
  );
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}